<a href="https://colab.research.google.com/github/Shackeem54/bbit-learning-labs/blob/main/Da_6_Lab_Titanic_Project_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Lab 6: Titanic Project**
---


Through the following questions, you will hone and apply your skills to a famous dataset containing information about passengers on the Titanic and whether they survived or not: [Titanic dataset from Kaggle](https://www.kaggle.com/competitions/titanic/overview).


<br>

**About the Dataset**

There are twelve columns in the dataset. The target column is `Survived` which indicates if a passenger survived (1) or not (0). The features initially available are:

* `PassengerId`: Numeric, a unique number for each passenger.
* `Pclass`: Numeric, the ticket class.	1 = 1st, 2 = 2nd, 3 = 3rd.
* `Name`: Categorical, the name of the passenger.
* `Sex`: Categorical, the sex of the passenger.
* `Age`: Numeric, the passenger's age in years.
* `Sibsp`: Numeric, the number of siblings / spouses aboard the Titanic.
* `Parch`: Numeric, the number of parents / children aboard the Titanic.
* `Ticket`: Categorical, ticket number.
* `Fare`: Numeric, passenger fare.
* `Cabin`: Categorical, cabin number.
* `Embarked`: Categorical, port of embarkation.	C = Cherbourg, Q = Queenstown, S = Southampton.
* `Hometown`: Categorical, passenger home town.
* `Destination`: Categorical, ultimate return point.
* `HasCabin`: Categorical, whether the passenger(s) had a cabin or not.

<br>

**Resources**
* [Python Basics Cheat Sheet](https://docs.google.com/document/d/1NcIC6so-GM5t5kd-iS7HGapWmKc8WJyAQAI00gemBms/edit?usp=drive_link)

* [pandas Commands](https://docs.google.com/document/d/1pLCyzig38Mop0Iib021X47S25WBEqZCWf7LRdpC8hGw/edit?usp=drive_link)

* [Data Visualizations with matplotlib](https://docs.google.com/document/d/1tCKyB_E2A-S_rwTIN6JHE9lCQiK4DLTQTt25Lc-uQcs/edit?usp=drive_link)

* [Data Wrangling Cheat Sheet](https://docs.google.com/document/d/1rQaux3Ccj7x-cDdIGfd56BszSkqQpbZ3EonMFbJxfxI/edit?usp=drive_link)

<a name="p1"></a>

---
## **Week 6: Data Cleaning**
---

#### **Problem #0**

In the cell below, import the necessary libraries and functions you've used in the course so far.

Using the url below, import the dataset from github.

* https://raw.githubusercontent.com/the-codingschool/TRAIN-datasets/refs/heads/main/titanic/titanic_raw.csv

In [ ]:
# COMPLETE THIS CODE

#### **Problem #1**

Drop any duplicates from the dataset. How many duplicates were dropped?

In [ ]:
# COMPLETE THIS CODE

#### **Problem #2**

Determine how many missing values there are in the dataset.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #3**

Drop all null rows in place using `Survived` as your subset. We aren't imputing these null values because it's a supposed to model what actually happened in reality, so we don't want to replace those values and skew the results. We also don't want to introduce bias by imputing on our entire dataset and then splitting the data into train and test sets.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #4**

Drop the column `Cabin`. There majority of the values in this column are null, so we might skew our dataset using imputation.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #5**

Impute the missing values in the `Age` column using the median.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #6**

Filter the data frame to visualize the remaining null values in the dataset.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #7**

Drop the `Boarded` column and replace the missing values in the `Embarked`, `Hometown`, and `Destination` columns with the most commonly occuring value.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #8**

Check for any potential missing values that aren't categorized as nulls.

In [ ]:
# COMPLETE THIS CODE

#### **Problem #9**

Visualize the number of passengers who did versus did not survive using a bar graph.

In [ ]:
categories = ['Not Survived', 'Survived']
bars = # COMPLETE THIS CODE

plt.# COMPLETE THIS CODE

plt.ylabel(# COMPLETE THIS CODE
plt.title(# COMPLETE THIS CODE

plt.show()

#### **Problem #10**

Visualize the number of male versus female passengers.

In [ ]:
categories = ['Male', 'Female']
bars = # COMPLETE THIS CODE

#### **Problem #11**

Encode the `Sex` and `Embarked` columns using dictionary encoding.

In [ ]:
# COMPLETE THIS CODE

---

# End of Notebook

© 2024 The Coding School, All rights reserved